.btn {
  @include transition-ease;
  border: none;
  background-color: transparent;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.75rem;
  width: fit-content;

  &-contained {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 9px 20px;

    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

    &.color-white {
      background-color: $white-color;
      border-color: $white-color;
      color: $primary-color;

      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white-color;
      }
    }
  }

  &-outlined {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 9px 20px;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }

    &.color-white {
      background-color: transparent;
      color: $white-color;
      border: 1px solid $white-color;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
      }
    }
  }

  &-text {
    background-color: transparent;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }

    &.color-white {
      background-color: transparent;
      color: $white-color;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
      }
    }
  }

  &-blured {
    color: $primary-color;
    border: 1px solid $primary-color;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 9px 20px;
    background: rgba(94, 94, 94, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }

    &.color-white {
      color: $white-color;
      border: 1px solid $white-color;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
      }
    }
  }
}
