$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1200px,
);

$max-width: 1024px;
$content-width: 994px;

$primary-color: #005bd5;
$secondary-color: #002e6b;
$white-color: #ffffff;
$grey-50-color: #afb3b8;
$grey-100-color: #8b8b8b;
$balck-color: #000000;
