$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1200px,
);

$max-width: 1024px;

$primary-color: #005BD5;
$secondary-color: #002E6B;
$white-color: #FFFFFF;
$grey-50-color: #AFB3B8;
$grey-100-color: #8B8B8B;
$balck-color: #000000;
