.card {
  position: relative;
  @include center-content;
  width: 100%;
  min-height: 202px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
