.header {
  width: 100%;
  background-color: $white-color;

  .container-content {
    @include center-content;
    padding: 15px 15px;
    gap: 36px;

    @include tablet {
      flex-direction: column;
    }

    > img {
      width: 100%;
      max-width: 130px;
    }

    > ul {
      display: flex;
      align-items: center;
      gap: 36px;

      @include tablet {
        flex-direction: column;
      }
    }
  }
}
