.header {
  width: 100%;
  background-color: $white-color;
  position: fixed;
  z-index: 9999;

  .container-content {
    @include center-content;
    padding: 15px 50px;
    gap: 36px;

    @include tablet {
      flex-direction: column;
    }

    > .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      > img {
        width: 100%;
        max-width: 130px;
      }
    }

    > ul {
      display: flex;
      align-items: center;
      gap: 36px;

      @include tablet {
        flex-direction: column;
      }
    }
  }
}

.menu-button {
  display: none;
  @include tablet {
    display: block;
    cursor: pointer;
  }
}
